$default-gradient: linear-gradient(-225deg, #80ced6 0%, #d5f4e6 100%);

$page-background-color: #FCFCFC;

$brand-color: #80ced6;
$accent-color: #d5f4e6;

$border-color: #E6E8EC;

$text-color-dark: #6C6C6C;
$text-color-darker: #4A4A4A;
$text-color-light: #FFFFFF;

$card-background: #FFFFFF;