//Color Palettes
$brand-color-palette: (
        50 : #f0f9fa,
        100 : #d9f0f3,
        200 : #c0e7eb,
        300 : #a6dde2,
        400 : #93d5dc,
        500 : #80ced6,
        600 : #78c9d1,
        700 : #6dc2cc,
        800 : #63bcc6,
        900 : #50b0bc,
        A100 : #ffffff,
        A200 : #e8fcff,
        A400 : #b5f7ff,
        A700 : #9cf4ff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$accent-color-palette: (
        50 : #fafefc,
        100 : #f2fcf8,
        200 : #eafaf3,
        300 : #e2f7ee,
        400 : #dbf6ea,
        500 : #d5f4e6,
        600 : #d0f3e3,
        700 : #caf1df,
        800 : #c4efdb,
        900 : #baecd5,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$warn-color-palette: (
        50 : #ffe0ed,
        100 : #ffb3d3,
        200 : #ff80b5,
        300 : #ff4d97,
        400 : #ff2681,
        500 : #ff006b,
        600 : #ff0063,
        700 : #ff0058,
        800 : #ff004e,
        900 : #ff003c,
        A100 : #ffffff,
        A200 : #fff2f4,
        A400 : #ffbfca,
        A700 : #ffa6b5,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);